@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body,
  h2 {
    @apply font-champagne_limousines;
  }
}

@layer components {
  #sidebar-Menu li {
    /* @apply font-light text-xl font-champagne_limousines pb-3; */
    @apply font-light text-xl pb-3;
    font-family: "champagne_limousines", sans-serif;
  }
}

@layer utilities {
}
.swiper-slide-thumb-active picture {
  @apply border border-orange-500;
}

nav.woocommerce-breadcrumb {
  @apply bg-white-true border-b border-red-100 flex sticky top-[70px] z-[49] shadow-gs;
}

#sidebar-Menu li.current_page_item a {
  @apply flex flex-row items-center text-xl font-bold !text-black-gs;
}
#sidebar-Menu li.current_page_item a::after {
  @apply ml-2;
  content: "";
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../img/sidebar/i-sun-select-sidebar.png");
  width: 20px;
  height: 20px;
  display: block;
}
#sidebar-Menu li.current_page_item.menu-item-has-children .sub-menu a::after {
  @apply pl-4 pb-1;
  content: unset;
}
#tab_bar {
  @apply bottom-[2%] lg:bottom-[unset] right-1/2 translate-x-1/2 lg:translate-x-0 lg:mx-auto lg:top-10 lg:sticky;
}
.tab_bar_navbar {
  @apply !bottom-[9%];
}
#sidebar-Menu .menu-item-has-children .sub-menu {
  @apply pt-2;
}
#sidebar-Menu .menu-item-has-children .sub-menu .menu-item a {
  @apply font-light pl-4 pb-1;
}

/* -------------------------Debajo de shop, sorting elements */
p.woocommerce-result-count {
  @apply font-bold text-black-gsSoft pl-2;
}
form.woocommerce-ordering select.orderby {
  @apply bg-white-gs py-1 px-2 text-red-semi text-lg font-bold w-fit;
}
form.woocommerce-ordering select.orderby option {
  @apply bg-white hover:!bg-white-gs text-red-semi py-1 text-base font-normal;
}
/* clases del footer para modificar items de el menu de wordpress */
#menu-item-101,
#menu-item-100,
#menu-item-98 {
  @apply font-semibold mb-2;
}
#footer_menu_container .sub-menu {
  @apply font-light;
}
.my-slider2 {
  overflow: hidden;
}

.swiper-wrapper2 {
  display: flex;
  animation: slide 20s linear infinite;
}

.swiper-slide2 {
  flex-shrink: 0;
  width: 100%;
}

.swiper-slide2 p {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes slide {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.active-products-buton {
@apply bg-red-semi !text-white rounded-full lg:w-1/12 px-5 justify-center items-center;
}

/* ---------------------------------------- SINGLE_PRODUCT */
.woocommerce-Tabs-panel h2 {
  margin-top: 10px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  color: #d1a19d;
  text-align: center;
}
.woocommerce-Tabs-panel h3 {
  @apply text-2xl text-black-gsSoft py-3;
  font-weight: 600;
}
#tab-additional_information p {
  font-weight: 500;
  font-size: 1.25rem;
  color: #231b1b;
  text-align: left;
}

#tab-additional_information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#tab-description ul {
  @apply list-disc pl-10;
}
#tab-description li,
#tab-description p {
  @apply text-xl;
}

/*  --------------- Reviews */
#comments P {
  @apply text-xl;
}
#respond form#commentform {
  @apply flex flex-col items-center;
}
#respond form#commentform .comment-form-rating p.stars{
  @apply text-xl text-orange-400 font-bold;
}
#respond form#commentform .comment-form-comment{
@apply flex flex-col text-xl;
}
#respond form#commentform .comment-form-comment textarea{
@apply w-full;
}
#respond form#commentform .form-submit {
  @apply flex bg-red-soft font-bold text-white-true justify-center items-center w-1/6  rounded-full ml-0;
}
/* -----------------------------------CIERRE SINGLE_PRODUCT */

/* -------------------------------- CART CONTAINER */
#cartContainer .woocommerce, #checkContainer .woocommerce {
  @apply w-full;
}
#checkContainer .woocommerce .woocommerce-order section.woocommerce-order-details table {
@apply bg-white-true;
}
/* -------------------------------- CIERRE CART CONTAINER */


/* -------------------------------- CHECKOUT CONTAINER */
  .woocommerce-billing-fields__field-wrapper p {
    @apply text-xl font-bold text-black-gs;
  }
  .woocommerce-billing-fields__field-wrapper label {
    @apply text-red-soft !text-xl;
  }

  .woocommerce-additional-fields__field-wrapper {
    @apply text-xl font-bold;
  }
/* -------------------------------- CIERRE CHECKOUT CONTAINER */



.woocommerce-product-attributes-item__value {
  @apply md:w-[30%] font-semibold;
}
.woocommerce-product-attributes-item__label {
  @apply md:w-[10%];
}
#respond span {
  justify-content: center;
  align-items: center;
}
.comment-form-rating {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}
.comment-form-rating label {
  font-size: 1.25rem;
}
#comment {
  border: solid;
  border-width: 1px;
  border-radius: 10px;
  border-color: #d1a19d;
  width: 40%;
  margin-bottom: 5px;
}
#reply-title {
  font-size: 1.25rem;
  margin-left: 35%;
}
.form-submit {
  @apply flex bg-red-semi justify-center items-center w-1/6  rounded-full ml-[45%];
}
.stars span a:active {
  border: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: #d1a19d;
}
.woocommerce-product-attributes {
  margin: auto;
  width: 100%;
}

#coupon_code {
  width: 100px;
  background: transparent;
}
/*  ----------------------------------- Whatsapp alarm */
.aviso {
  @apply fixed lg:absolute left-[42%] lg:left-[77%] top-[82%] lg:top-[74%] p-2 font-semibold bg-green-700 leading-tight text-white text-xl lg:w-60;
  margin: 10px;
  text-align: center;
  border-radius: 10px;
}

#menu-item-110 {
  @apply md:px-0 md:mx-2;
}
.checkout {
  padding: 10px;
}
.col-1 {
  width: 80%;
  margin-top: 17px;
}
.woocommerce-billing-fields {
  width: 90%;
  margin: auto;
}
.woocommerce-billing-fields h3 {
   @apply text-red-soft text-center text-xl lg:text-3xl font-semibold py-4;
}
.woocommerce-billing-fields__field-wrapper {
  @apply shadow-gs rounded-xl;
  padding: 10px 15px;
}
.woocommerce-billing-fields label {
  @apply text-lg;
}
.woocommerce-billing-fields input {
  border: 1px solid;
  border-color: #f8d7da;
  border-radius: 6px;
  height: 30px;
}
.col-2 {
  width: 80%;
  margin-top: 17px;
}

.input-text {
  border: 1px solid;
  border-color: #f8d7da;
  border-radius: 6px;
  height: 30px;
  padding: 5px;
}
.col-2 h3 {
  @apply text-red-soft text-center text-xl lg:text-3xl font-semibold py-4;
}
.woocommerce-additional-fields {
  @apply shadow-gs rounded-xl text-red-soft text-center text-xl py-4 px-10;
}
@media (min-width: 768px) {
  .checkout {
    position: relative;
  }
  .parallax {
    background-image: url("../img/silueta.svg");
    background-size: 38%;
    background-position: -21%;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
  #order_review {

  }
}

